{% extends 'base.html' %}

{% import 'bootstrap/form.html' as wtf %}

{% block main %}
<section class="py-5">
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                    {{ message }}
                 {% endfor %}
            </div>
        {% endif %}
        {% endwith %} 

        <div class="container mx-10 my-5">
        <h2>Checkout</h2>

        <p>Please provide your details to place your order. Thank you!</p>

        <div class="row">
            <div class="col-lg-4 order-lg-2">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Your Cart</span>
                    <span class="badge badge-pill badge-secondary">4</span>
                </h4>

                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h5 class="my-0">Panadol Rapid 48 Caplets</h5>
                            <small class="text-muted">Over the counter</small>
                        </div>
                        <span class="text-muted">$10.00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h5 class="my-0">Nurofen Zavance 96 pack</h5>
                            <small class="text-muted">Over the counter</small>
                        </div>
                        <span class="text-muted">$15.00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h5 class="my-0">Claratyne Allergy & Hayfever Relief</h5>
                            <small class="text-muted">Over the counter</small>
                        </div>
                        <span class="text-muted">$9.50</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h5 class="my-0">Difflam Plus Sore Throat Anaesthetic Spray</h5>
                            <small class="text-muted">Over the counter</small>
                        </div>
                        <span class="text-muted">$8.45</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h5 class="my-0">Delivery Charges</h5>
                            <small class="text-muted">Standard Delivery</small>
                        </div>
                        <span class="text-muted">$5.00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h5 class="my-0">Promo Code</h5>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">-$5.75</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <h5 class="my-0">Total(AUD)</h5>
                        <strong>$42.20</strong>
                    </li>
                </ul>
            </div>

            <div class="col-md-8 order-lg-1">
                <div class="card p-4 mb-3">
                    <h4 class="fw-bold">Your Details</h4>
                    <form name="checkout-form" class="needs-validation" novalidate>
                        {{ wtf.render_form(form) }}

                        <!-- Name -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="form-name">Name</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter your name" aria-label="Name"
                                aria-describedby="form-name" required>
                            <div class="invalid-feedback">
                                Enter your name.
                            </div>
                        </div>

                        <!-- Mobile Number -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="form-mobile">Mobile Number</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter your mobile number"
                                aria-label="Mobile Number" aria-describedby="form-mobile" required>
                            <div class="invalid-feedback">
                                Enter your mobile number.
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="form-email">Email</span>
                            </div>
                            <input type="text" class="form-control" placeholder="example@domain.com" aria-label="Email"
                                aria-describedby="form-email" required>
                            <div class="invalid-feedback">
                                Enter your email.
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="form-address-1">Address Line 1</span>
                            </div>
                            <input type="text" class="form-control" placeholder="123 Main St" aria-label="Address 1"
                                aria-label="Address 1" aria-describedby="form-address-1" required>
                            <div class="invalid-feedback">
                                Enter your address.
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="form-address-2">Address Line 2</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Apartment or suite"
                                aria-label="Address 2" aria-describedby="form-address-2">
                        </div>

                        <div class="row">
                            <div class="col-lg-4 input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="form-city">City</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter your city" aria-label="City"
                                    aria-describedby="form-city" required>
                                <div class="invalid-feedback">
                                    Enter your city.
                                </div>
                            </div>
                            <div class="col-lg-5 input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="form-state">State</span>
                                </div>
                                <select class="form-select form-control d-block" id="form-state-options"
                                    aria-label="State" aria-describedby="form-state" required>
                                    <option selected>Select State...</option>
                                    <option value="1">New South Wales</option>
                                    <option value="2">Victoria</option>
                                    <option value="3">Queensland</option>
                                    <option value="4">South Australia</option>
                                    <option value="5">Western Australia</option>
                                    <option value="6">Tasmania</option>
                                    <option value="7">Northern Territory</option>
                                    <option value="8">Australian Capital Territory</option>
                                </select>
                                <div class="invalid-feedback">
                                    Select your state.
                                </div>
                            </div>
                            <div class="col-lg-3 input-group mb-3">
                                <div class="input-group-prepend ms-3">
                                    <span class="input-group-text" id="form-zip">Zip</span>
                                </div>
                                <input type="number" class="form-control" placeholder="XXXX" aria-label="City"
                                    aria-describedby="form-zip" required>
                                <div class="invalid-feedback">
                                    Enter your Zip Code.
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <form class="mb-3">
                                    <label for="form-delivery-method">Delivery Method</label>
                                    <select class="form-select form-control" aria-label="Default select example"
                                        id="form-delivery-method">
                                        <option selected>Standard Delivery- $5.00</option>
                                        <option value="2">Eco Delivery- $8.00</option>
                                        <option value="3">Express Delivery- $15.00</option>
                                        <option value="4">Temp-Controlled Delivery- $25.00</option>
                                    </select>
                                </form>
                            </div>
                        </div>

                        <!-- T&Cs and Privacy -->
                        <div class="input-group mx-4 align-items-center">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckTCs" required>
                            <label class="form-check-label" for="flexCheckTCs">
                                Read and agree to the <a href="#">T&Cs</a>.
                            </label>
                            <div class="invalid-feedback">
                                You must agree before placing an order.
                            </div>
                        </div>

                        <div class="input-group mx-4 align-items-center">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckPrivacy" required>
                            <label class="form-check-label" for="flexCheckPrivacy">
                                Read and agree to the <a href="#">Privacy Policy</a>.
                            </label>
                            <div class="invalid-feedback">
                                You must agree before placing an order.
                            </div>
                        </div>

                        <hr class="my-3">

                        <!-- Payment Method -->
                        <h4 class="mb-3">Payment Method</h4>
                        <div class="row">
                            <div class="col-12 input-group align-items-center mx-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Credit
                                </label>
                            </div>
                            <div class="col-12 input-group align-items-center mx-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Debit
                                </label>
                            </div>
                            <div class="col-12 input-group align-items-center mx-4 mb-3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    AfterPay
                                </label>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-6 mb-3">
                                <label for="form-card-number">Name on card</label>
                                <input type="text" class="form-control" placeholder="Enter your name on card"
                                    aria-label="Name on card" aria-describedby="form-card-name" required>
                                <div class="invalid-feedback">
                                    Enter the name on card.
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <label for="form-card-number">Card Number</label>
                                <input type="number" class="form-control" placeholder="XXXX XXXX XXXX XXXX"
                                    aria-label="Card Number" aria-describedby="form-card-number" required>
                                <div class="invalid-feedback">
                                    Enter your card number.
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-4 mb-3">
                                <label for="form-card-number">Expiration</label>
                                <input type="text" class="form-control" placeholder="MM/YY" aria-label="Expiration"
                                    aria-describedby="form-card-expiration" required>
                                <div class="invalid-feedback">
                                    Enter the expiration date.
                                </div>
                            </div>

                            <div class="col-lg-3 mb-3">
                                <label for="form-card-number">CVV</label>
                                <input type="text" class="form-control" placeholder="XXX" aria-label="CVV"
                                    aria-describedby="form-card-cvv" required>
                                <div class="invalid-feedback">
                                    Enter the CVV.
                                </div>
                            </div>

                        </div>

                        <div>
                            <button class="btn btn-common btn-medicine btn-block" type="submit">Place Order</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-12 text-center">
                <h1>Checkout</h1>
                <p>
                    We're excited to help you complete your order! <br>
                    Please fill in your details, and one of our team members will contact you shortly to finalise everything.
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-8 col-lg-6">
                {{ wtf.render_form(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}