{% extends 'base.html' %}

{% block main %}
<!--hero-->
{% if not search %}
<section id="hero" class="section hero d-flex align-items-center">
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Medicine delivered to your doorstep!</h1>
                <p>With the largest range of OTC and Prescription medicine, never struggle with your medication
                    again with Medlife.</p>
                <div class="d-flex">
                    <a href="#about" class="btn btn-common btn-medicine">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="{{ url_for('static', filename='img/medicine sample.jpg') }}" alt="Medicine sample image">
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section id="features" class="section services">
    <div class="container section-title text-center text-white">
        <h2>Services</h2>
        <hr class="custom-divider">
        </hr>
        <p>Explore why you should choose us!</p>
    </div>
    <div class="container">
        <div class="row">
            {% for service in services %}
            <div class="col-lg-3 d-flex mb-4">
                <div class="card custom-hover mb-4 service-card w-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ service.title }}</h5>
                        <p class="card-text mt-auto">{{ service.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!--about-->
<section id="about" class="section about bg-white">
    <div class="container">
        <h2 class="text-center p-5">About Us</h2>
        <hr class="custom-divider">
        <div class="row my-4 align-items-center">
            <div class="col-lg-6">
                <img src="{{ url_for('static', filename='img/people-about us.png') }}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <p class="text-justify">
                    At Medlife, we are revolutionizing the way people access healthcare by bringing
                    essential medicines right to your doorstep. Our mission is to provide a seamless, reliable, and
                    affordable medicine delivery service that prioritizes your health and convenience. With a team
                    of dedicated professionals and an extensive network of licensed pharmacies, we ensure that every
                    order is handled with care and delivered promptly. Whether it’s regular prescriptions or
                    over-the-counter essentials, we are here to make healthcare more accessible for everyone, every
                    day.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Products -->
<section id="products" class="section products">
    <div class="container my-5">
        <h1 class="heading text-center">Our Products</h1>

        <div class="d-flex justify-content-center mb-4">
            <a href="{{ url_for('main.index', category='all') }}#products"
                class="btn btn-outline-primary mx-2 {% if selected_category == 'all' %}active{% endif %}">
                All
            </a>
            {% for category in all_categories %}
            <a href="{{ url_for('main.index', category=category.categoryCode) }}#products"
                class="btn btn-outline-primary mx-2 {% if selected_category == category.categoryCode %}active{% endif %}">
                {{ category.categoryName }}
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}

<div class="container my-5">
    <h1 class="heading text-center">Search Results</h1>
    <h3>Search results for "{{search}}"</h3>
</div>

{% endif %}
<section id="products" class="section products">
    <div class="container my-5">
        <div class="row mb-5">
            {% if items %}
            {% for item in items %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="product-item card custom-hover">
                    <img src="{{ url_for('static', filename='img/' + item.imageURL) }}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.itemName }}</h5>
                        <p class="card-text"><strong>${{ item.unitPrice }}</strong></p>
                        <a href="{{ url_for('main.product_details', item_id=item.itemCode) }}" class="btn btn-jumbotron":custom-hover>View
                            Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3>No products found!</h3>
            {% endif %}
        </div>
    </div>
</section>


<!-- Newsletter -->
<section id="newsletter" class="section newsletter">
    <div class="container text-center text-white">
        <h2>Claim FREE* Delivery</h2>
        <p>Join our Newsletter to receive latest updates about products and services and a promo code for FREE
            delivery!</p>
        <p>*For first-time users</p>
        <form class="form-inline justify-content-center d-inline-flex" method="POST"
              action="{{ url_for('main.subscribe') }}">
            <input class="form-control mr-sm-2 px-5 custom-placeholder" type="email" name="email" required placeholder="example@domain.com">
            <button type="submit" class="btn btn-common btn-newsletter my-2 my-sm-0 ms-2">Subscribe</button>
        </form>
    </div>
</section>

{% endblock %}