{% extends 'base.html' %}

<!-- end of message -->

{% block main %}
<div class="card my-5">
<div class="bg-section">


    
    <div class=" container">
        
        <div class="row">
            <div class="col-12 text-lg-center">
                <br>
                <h1 >Thank you for shopping at MedLife.</h1>
                <h6 >
                    Please provide your login details to access your private account.
                    If you have not joined Medlife yet,
                    <br> please
                    <a href="{{ url_for('main.register') }}" class="underlined-link" > register first
                    </a>
                </h6>
            </div>
        </div>
        <div class="row mt-4 justify-content-center p-3">
            <div class="col-6">

                <h2 class ="text-center" >Login</h2>
               
                <form action="" method="POST" class = "form">
                    
                    {{ form.hidden_tag() }}
                     <div class="form-field">
                        <label for="username ">{{ form.username.label }}</label>
                        {{ form.username(class="form-control custom-placeholder", placeholder="User.name") }}
                        {% for error in form.username.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                   </div>
                        <div class="form-field">
                  <label for="password ">{{ form.password.label }}</label>
                        {{ form.password(class="form-control custom-placeholder", placeholder="**********") }}
                        {% for error in form.password.errors %}
                            <small class="text-danger">{{ error }}</small><br>
                        {% endfor %}
                    </div>

                    <br>
                    {{ form.submit() }}
                     </div>
                     <br>
                    
                </form>
            </div>
        </div>
  </div>
</div>

  <div class="row">
                            <div class="col-lg-12 mb-2">
                                <a href="{{ url_for('main.index') }}"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;Back
                                    to
                                    shopping</a>
                            </div>
                        </div>
{% endblock %} 