{% extends 'base.html' %}
{% import 'bootstrap5/form.html' as wtf %}
{% block main %}
<h2>Edit Category</h2>
<div class="col-md-6">
    <div class="card mb-4">
        <div class="card-header">Edit Category</div>
        <div class="card-body">
            <form method="POST" action="{{ url_for('main.edit_category', code=edit_category_code) }}">
                {{ wtf.render_form(edit_category_form) }}
            </form>
        </div>
    </div>
</div>
</div>

<p><a href="{{ url_for('main.manage_categories') }}">Back to manage categories page</a></p>
<p><a href="{{ url_for('main.logout') }}">Logout</a></p>
{% endblock %}