{% extends "base.html" %}
{% block main %}

<div class="container mx-10 my-5">
    <h2 class="mb-3">Cart Summary</h2>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-4 order-2">
                    <div class="card mb-3">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span>Your cart</span>
                        </h4>

                        <hr class="mb-4">

                        <h5 class="d-flex justify-content-between align-items-center mb-3">
                            <span>Total Price</span>
                            <strong>${{basket_total}}</strong>
                        </h5>

                        <a class="nav-link btn-common btn-medicine d-block text-center" type="button"
                            href="{{ url_for('main.checkout') }}">Checkout&nbsp;&nbsp;<i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-8 order-1">
                    <div class="card mb-3">
                        {% if basket|length > 0 %}
                        {% for basketItem in basket.items %}

                        <div class="row align-items-center mb-3">
                            <div class="col-lg-3 col-12 mb-2">
                                <img src="{{ url_for('static', filename='img/medicine sample.jpg') }}"
                                    class="img-fluid rounded-3" alt="...">
                            </div>
                            <div class="col-lg-4 mb-2">
                                <h6 class="text-muted">{{basketItem.item.categoryName}}</h6>
                                <h6 class="mb-0">{{basketItem.item.itemName}}</h6>
                            </div>


                            <div class="d-inline-flex align-items-center col-lg-2 col-3 mb-2">
                                <form method="POST"
                                    action="{{ url_for('main.order_with_quantity_action', item_id=basketItem.id, action='decrease') }}">
                                    <button class="btn btn-outline-secondary btn-sm mx-2" type="submit">−</button>
                                </form>
                                <span class="fw-bold mb-2">{{ basketItem.quantity }}</span>
                                <form method="POST"
                                    action="{{ url_for('main.order_with_quantity_action', item_id=basketItem.id, action='increase') }}">
                                    <button class="btn btn-outline-secondary btn-sm mx-2" type="submit">+</button>
                                </form>
                            </div>


                            <div class="col-lg-2 col-4 mb-2">
                                <strong>${{basketItem.item.unitPrice}}</strong>
                            </div>
                            <div class="col-1 mb-2">
                                <a href="{{ url_for('main.remove_item', item_id=basketItem.id) }}"><i
                                        class="bi bi-x"></i></a>
                            </div>
                        </div>

                        <hr class="mb-4">
                        {% endfor %}
                        {% else %}
                        <h5 class="mb-3">Your basket is empty.</h5>
                        {% endif %}

                        <div class="col-2 ">
                            <a href="{{ url_for('main.clear_basket') }}" class="btn btn-danger mb-1" role="button">Empty basket</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 mb-2">
                            <a href="{{ url_for('main.index') }}"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;Back
                                to
                                shopping</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>
</div>

{% endblock %}