{% extends 'base.html' %}

{% block main %}


<div class="container">
    <div class="card my-5">

        <div class="row">
            <div class="col-lg-4 justify-content-center d-flex align-items-start">
                <img src="{{ url_for('static', filename='img/medicine sample.jpg') }}" class="img-fluid" alt="...">
            </div>
            <div class="col-lg-8">
                <h3>{{item.itemName}}</h3>
                <div class="mb-3">
                    <span id="custom-span">Price: ${{item.unitPrice}}</span>
                    <span class="text-muted"><s>$15.00</s></span>
                </div>

                <p>{{item.itemDescription}}</p>
                <p>{{item.itemLongDescription1}}</p>
                <p class="mb-4">
                    {{item.itemLongDescription2}}
                </p>

                 <a href="{{ url_for('main.order_add', item_id=item.itemCode) }}" class="btn btn-primary mb-4"><i
                        class="bi bi-bag-plus"></i>&nbsp;&nbsp;Add to Cart</a>

            </div>
        </div>
    </div>

</div>

{% endblock %}