<h2>Register</h2>
<form method="POST">

    {{ form.hidden_tag() }}

    {{ form.username.label }} {{ form.username() }}<br>
    {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}

    {{ form.password.label }} {{ form.password() }}<br>
    {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}

    {{ form.confirm_password.label }} {{ form.conform_password() }}<br>
    {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}

    {{ form.email.label }} {{ form.email() }}<br>
    {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}

    {{ form.phone.label }} {{ form.phone() }}<br>
    {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    
    {{ form.submit() }}
</form>
<a href="{{ url_for('login') }}">Login</a>